.Background html, body, root {
	background-color: #908EBA;
	background-size: cover;
  	width:auto;
  	height:100%;
}
#myMedia{
	height: 28%;
  	width: 27%;
}
#App-logo2{
  height: 10%;
  width: 10%;
}
.Nheader {
    border-radius: 20px;
}
.MediaCapture {
	/*background-color: #000000;*/
	background-color: #908EBA;
	border-top: #000000;
	padding-left: 15px;
	padding-right: 20px; 
	padding-top: -30px;
 	
}

#webcam { 
	border-color:#000000;
	border-width: 6px;
	margin-left: 200px; 
	height: 100%;
	width: 100%;
}
	
#captureVideo {
 margin: auto;
   
}

#screenshot{
	height:15%;
	width: 15%;
	float:right
}
#GeotaggedMedia {
	float: right;
	 

}


#buttonCapture {
	margin-left: 40%; 
	background-color: #908EBA;


}